{% extends 'routes/routes.html' %}

{% block metaInformation %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block title %}
    Error <span id="httpResponse">500</span>: <span id="httpCode">Internal Server Error</span>
{% endblock %}

{% block heading %}
    <h1>Error <span id="httpResponse">500</span></h1>
    <h2><span id="httpCode">Internal Server Error</span></h2>
{% endblock %}

{% block content %}
    <h3>
    <span id="errorMsg">
        An internal server error has occurred. Either you have JavaScript disabled,
        or the page wasn't able to determine the specific error.
    </span>
    </h3>
    <h4>Internal Server Error: Please wait until a system administrator can fix the issue.</h4>
    <a class="btnLink" href="{{ url_for('routes.index') }}">
        <button type="submit" formmethod="get" id="cancelBtn">Return Home</button>
    </a>
{% endblock %}

{% block dynamicFooter %}
{% endblock %}
