{% extends 'cms/cms.html' %}

{% block subTitle %}{{ current_user_name }}'s Content{% endblock %}

{% block heading %}
<h1>Hello, {{ current_user_name }}</h1>
{% endblock %}

{% block content %}
    <article class="postsList">
    {% for post in posts %}
        {%  if update %}
            <a class="postLink" href="{{ url_for('cms.update', post_id=post.id) }}">
                <div class="listEntry">
                    <h2 class="entryTitle"> {{ post.title }} </h2>
                    <h3 class="entryDescription"> {{ post.description }}</h3>
                </div>
            </a>
        {% elif delete %}
            <a class="postLink" href="{{ url_for('cms.delete', post_id=post.id) }}">
                <div class="listEntry">
                    <h2 class="entryTitle"> {{ post.title }} </h2>
                    <h3 class="entryDescription"> {{ post.description }}</h3>
                </div>
            </a>
        {% else %}
            <a class="postLink" href="{{ url_for('cms.read', post_id=post.id) }}">
                <div class="listEntry">
                    <h2 class="entryTitle"> {{ post.title }} </h2>
                    <h3 class="entryDescription"> {{ post.description }}</h3>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    </article>
{% endblock %}