{% extends 'cms/cms.html' %}

{% block title %} Update {{ post_data.title }}{% endblock %}

{% block heading %}
    <h1><strong>Update Post</strong> {{ post_data.title }}</h1>
{% endblock %}


{% block content %}
    <form class="normform" method="post" action="{{ url_for('cms.update', post_id=post_data.id) }}">
    <fieldset>
        <legend>Update {{ post_data.title }}</legend>
            <label for="title">Title</label>
            <input name="title" id="title" value="{{ post_data.title }}" autofocus>
            <label for="description">Description</label>
            <input name="description" id="description" value="{{ post_data.description }}">
            <label for="genres">Genres</label>
            <select name="genres" id="genres">
                {% for genre in config['GENRES'] %}
                    {% if genre == post_data.genre %}
                        <option value="{{ genre }}" selected>{{ genre }}</option>
                    {% else %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="entry">Entry</label>
            <textarea name="entry" id="entry" rows="10" cols="10">{{ post_content }}</textarea>
            <input id="submitForm" type="submit" name="update" value="Update Post">
            <a class="btnLink" href="{{ url_for('cms.index') }}">
                <input id="cancelForm" type="button" name="cancel" value="Cancel">
            </a>
    </fieldset>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h6 class="flash" id="error">{{ message }}</h6>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}