SQLALCHEMY_DATABASE_URI = "sqlite:////<path>/<to>/<data>/<dir>/<file.sqlite3>"
SECRET_KEY = "dev" # Change to something more secret
SQLALCHEMY_TRACK_MODIFICATIONS = "False"
DATA_DIRECTORY = "/<path>/<to>/<data>/<dir>" # Do not leave a trailing slash here.
GENRES = [
    "Realistic Fiction",
    "Science Fiction",
    "Fantasy",
    "Political Fiction",
    "Technology",
    "Poetry"
 ]
