html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-bg-color: #0F121A;
    --secondary-bg-color: #110F1A; /*Xiketic*/
    --tertiary-bg-color: #160F1A;
    --title-and-accents: #4EA5D9; /* Carolina Blue */
    --text-color: #EBEBEB; /* Platinum */
    --heading-color: #E7BBE3; /* Pink Lavender */
    --subtitle-and-secondary-accents: #79C99E; /* Eton Blue */
    --error-color: #D7263D;
}

body {
    background-color: var(--primary-bg-color);
    min-height: 100vh;
    color: var(--text-color);
}

form.content {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

label.content {
    font-weight: bold;
    margin-bottom: 0.5em;
}

input.content, textarea.content {
    margin-bottom: 1em;
}

textarea.content {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: var(--error-color);
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}