{% extends 'cms/cms.html' %}

{%  block subTitle %}{{ post_data.title }}{% endblock %}

{% block heading %}
    <h1 id="titleBar"> {{ post_data.title }} </h1>
    <h2 class="postTitle"> Written by {{ post_data.author.full_name }} </h2>
{% endblock %}

{% block content %}
    <h3 id="description">{{ post_data.description }}</h3>
    <h4 id="postedDate">{{ post_data.format_date }}</h4>
    {{ post_content | safe }}
    <figcaption>Copyright &copy; {{ post_data.author.full_name }} &mdash; All Rights Reserved</figcaption>
    <div id="actionBtns">
        <a class="btnLink" href="{{ url_for('cms.update', post_id=post_data.id) }}">
            <button type="submit" formmethod="get" id="submitBtn">Update this Post</button></a>
        <a class="btnLink" href="{{ url_for('cms.delete', post_id=post_data.id) }}">
            <button type="submit" formmethod="get">Delete this Post</button>
        </a>
        <a class="btnLink" href="{{ url_for('cms.index') }}" id="cancelBtn">
            <button type="submit" formmethod="get">Return Home</button>
        </a>
    </div>
{% endblock %}