{% extends 'base.html' %}

{% block MetaInformation %}<meta name="robots" content="noindex">{% endblock %}


{%  block title %}{{ post_data.title }}{% endblock %}

{% block navMenuItems %}
    <h1 id="titleBar"> {{ post_data.title }} </h1>
    <h2 class="postTitle"> Written by {{ post_data.author.full_name }} </h2>
    <a href="{{ url_for('cms.update', post_id=post_data.id) }}">
        <button type="submit" formmethod="get">Update this Post</button></a>
    <a href="{{ url_for('cms.delete', post_id=post_data.id) }}">
        <button type="submit" formmethod="get">Delete this Post</button>
    </a>
    <a href="{{ url_for('cms.index') }}">
        <button type="submit" formmethod="get">Return Home</button>
    </a>
{% endblock %}

{%  block heading %}
    <h3 id="description">{{ post_data.description }}</h3>
{% endblock %}

{% block content %}
    <h4 id="postedDate">{{ post_data.format_date }}</h4>
    {{ post_content | safe }}
    <figcaption>Copyright &copy; {{ post_data.author.full_name }} &mdash; All Rights Reserved</figcaption>
{% endblock %}

{% block dynamicFooter %}
    <h6><a href="{{ url_for('auth.logout') }}">Logout</a></h6>
{% endblock %}
