html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Colors to consider:
    * #0D1628
    * #64B7BC
 */

/* Color pallet based off old site:
    * #050325
    * #ADD7F6
    * #87BFFF
    * #3F8EFC
    * #2667FF
 */

:root {
    --primary-bg-color: #110F1A;
    --bg-accent-color: #0D1628;
    --secondary-bg-color: #343232;
    --tertiary-bg-color: #464545;
    --text-color: #EBEBEB;
    --title-color: #E7BBE3;
    --accent-color-1: #4EA5D9;
    --accent-color-2: #64B7BC; /* Accent colors 1 & 2 make a really pretty gradient... */
    --accent-color-3: #79C99E;
    --link-color: #7B4B94;
}

div#menuContainer {
    display: none;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 5rem;
    font-family: "Oxanium ExtraBold", sans-serif;
    text-align: center;
    color: var(--title-color);
}

h2 {
    font-size: 2.25rem;
    font-family: "Oxanium Bold", sans-serif;
}

h3 {
    font-size: 1.8rem;
    font-family: "Oxanium ExtraBold", sans-serif;
}

h4 {
    font-size: 1.44rem;
    font-family: "Oxanium Medium", sans-serif;
}

h5 {
    font-size: 1.15rem;
    font-family: "Oxanium Regular", sans-serif;
}

h6 {
    font-size: 0.92rem;
    font-family: "Oxanium Light", sans-serif;
}

p, ul, ol {
    font-size: 1.25rem;
    font-family: "Oxanium Medium", sans-serif;
    text-align: justify;
    margin: 1em 4em;
    line-height: 1.5;
    width: 50rem;
}

a:link {
    color: var(--accent-color-1);
}

a:visited {
    color: var(--link-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
}

img#logo {
    height: 128px;
    width: auto;
    z-index: 3;
    padding-top: 1rem;
}

header {

}

a.menuContainer {
    display: none;
}

nav.sideNav, ul#navMenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 30em;
    position: relative;
    left: 0;
}

ul#navMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

a.navBtn, li.navItem {
    display: inline-block;
    text-decoration: none;
    color: var(--accent-color-3);
    font-family: "Oxanium Bold", sans-serif;
    font-size: x-large;
    width: max-content;
    height: 50px;
    line-height: 1.25;
    padding: 0 0.5em;
    margin: 0.25rem;
    border: none;
}

li.navItem::before {
    transform: skew(-20deg);
    background-image: linear-gradient(to left, var(--accent-color-1), var(--accent-color-3));
}

main {

}

div#heading {

}

div#content {

}

footer {
    display: flex;
    height: 36px;
    width: 100%;
    flex-flow: column nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 3em 1em;
    position: relative;
    bottom: 0;
    background-color: var(--primary-bg-color);
}