html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Colors to consider
    #0D1628
    #5D737E
 */

:root {
    --primary-bg-color: #191818;
    --bg-accent-color: #110F1A;
    --secondary-bg-color: #343232;
    --tertiary-bg-color: #464545;
    --text-color: #EBEBEB;
    --title-color: #F2D1C9;
    --accent-color-1: #4EA5D9;
    --accent-color-3: #79C99E;
    --link-color: #7B4B94;
    --error-color: #E85F5C;
    --misc-1: #0D1628;
    --misc-2: #5D737E;
}

div#menuContainer {
    display: none;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 5rem;
    font-family: "Oxanium SemiBold", sans-serif;
}

h2 {
    font-size: 2.25rem;
    font-family: "Oxanium Bold", sans-serif;
}

h3 {
    font-size: 1.8rem;
    font-family: "Oxanium ExtraBold", sans-serif;
}

h4 {
    font-size: 1.44rem;
    font-family: "Oxanium Medium", sans-serif;
}

h5 {
    font-size: 1.15rem;
    font-family: "Oxanium Regular", sans-serif;
}

h6 {
    font-size: 0.92rem;
    font-family: "Oxanium Light", sans-serif;
}

p, ul, ol {
    font-size: 1.25rem;
    font-family: "Oxanium Medium", sans-serif;
    text-align: justify;
    margin: 1em 4em;
    line-height: 1.5;
    width: 50rem;
}

a:link {
    color: var(--accent-color-1);
}

a:visited {
    color: var(--link-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
}

img#dragonhead-logo, a#logo {
    height: 128px;
    width: auto;
    z-index: 3;
    padding: 1rem 0.5rem;
    margin: 1em 1em 3em auto;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

nav.sideNav, ul#navMenu {
    width: max-content;
    height: 100vw;
    padding: 1em 3em 1em 1em;
    background-color: var(--bg-accent-color);
    overflow: visible;
}

li.navItem, a.navBtn {
    display: block;
    text-decoration: none;
    color: var(--accent-color-3);
    font-family: "Oxanium Bold", sans-serif;
    font-size: x-large;
    width: max-content;
    line-height: 1;
    padding: 0 0.5rem;
    margin: 0.25rem;
    border: solid 4px transparent;
}

li.navItem:hover, a.navBtn:hover {
}

main {

}

div#heading {

}

div#content {

}

footer {
    display: flex;
    height: 36px;
    width: 100%;
    flex-flow: row wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 3em 1em;
    border-top: solid 1px var(--accent-color-3);
    position: relative;
    bottom: 0;
    padding: 1em;
    background-color: var(--bg-accent-color);
}

div.listEntry, a.postLink {
    color: inherit;
    text-decoration: none;
}

h6.flash#error {
    color: var(--error-color);
}