{% extends 'auth/auth.html' %}

{% block title %}TOTP Verification{% endblock %}

{% block navMenuItems %}{% endblock %}

{% block subHeading %}
    TOTP Verification
{% endblock %}

{% block content %}
    <form class="normform" method="post">
        <label for="password">Reenter your Password</label>
        <input type="password" name="password" id="password" required>
        <label for="totp_code">Enter your 6-Digit Code</label>
        <input name="totp_code" id="totp_code" required>
        <input type="submit" value="Log In">
    </form>
{% endblock %}

{% block dynamicFooter %}{% endblock %}
