{% extends 'base.html' %}

{% block navMenuItems %}
{% endblock %}



{% block heading %}
    <h1>{{ g.user['username'] }} - Update Account Information</h1>
{% endblock %}



{% block content %}
    <form class="normform" method="post">
        <label for="username">Change Username</label>
        <input name="username" id="username" autofocus placeholder="{{ g.user['username'] }}">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="Create a new password">
        <label for="repeatPassword">Repeat Password</label>
        <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat new password">
        <label for="password">Current Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" name="update" value="Update">
        <input type="submit" name="cancel" value="Cancel">
    </form>
{% endblock %}



{% block dynamicFooter %}
    <h6 class="dynamicFooter"><a href="{{ url_for('auth.logout') }}">Logout</a></h6>
{% endblock %}
