{% extends 'base.html' %}

{% block title %}Here there be a Linux Dragon{% endblock %}

{% block navMenuItems %}
    <ul id="navMenu">
        {% for genre in config['GENRES'] %}
            <li class="navItem"><a class="navBtn" href="{{ url_for('routes.genres', genre=genre.replace(' ' , '_').lower()) }}">
                    {{ genre }}
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}



{% block heading %}
{% endblock %}



{% block content %}
    {% for post in posts %}
        <div class="listEntry">
            <h2 class="entryTitle"> {{ post.title }} </h2>
            <h3 class="entryDescription"> {{ post.description }}</h3>
        </div>
    {% endfor %}
{% endblock %}



{% block dynamicFooter %}
    <a href="{{ url_for('auth.login') }}">Administrator Login</a>
{% endblock %}
